#home {
  text-align: center;
  margin-top: 115px;
}

/* Circle Background */
#background {
  position: absolute;
  z-index: -1;
  width: 290px;
  height: 290px;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(
    to bottom,
    #1b5e20,
    #2e7432,
    #418b44,
    #53a357,
    #66bb6a
  );
  border-radius: 4em;
}

p {
    margin: 0px;
}

#clock-time {
  font-size: 25px;
}

#clock-date {
  font-size: 15px;
}
