<h1>Made by:</h1>
<ul>
    <!-- TODO: Add your name as a list element -->
    <li>Mitchell</li>
    <li>Theodore</li>
    <li>Lainmar</li>
    <li>Ray</li>
    <li>James</li>
    <li>Angela</li>
    <li>Bruce</li>
    <li>Tony</li>
    <li>Herman</li>
</ul>
