{{!-- Navigation Start  --}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{{!-- <i id="navTopIcon" class="navIcon fas fa-chevron-up"></i> --}}
<i id="navRightIcon" class="navIcon fas fa-home"></i>
{{!-- <i id="navBottomIcon" class="navIcon fas fa-chevron-down"></i> --}}
<i id="navLeftIcon" class="navIcon fas fa-undo"></i>
{{!-- Navigation End --}}

{{!-- <p><span class="headers">Recipe Details</span></p> --}}
<p><span class="headers">Cheese Cake</span></p>
<p><span class="allergens">Allergens/Dietary: Dairy, Egg products</span></p>
<ul>
  <li>15 graham crackers</li>
  <li>crushed2 tablespoons butter</li>
  <li>(8 ounce) packages cream cheese</li>
  <li>2 cups white sugar</li>
  <li>3/4 cup milk</li>
  <li>4 eggs</li>
  <li>1 cup sour cream</li>
  <li>1 tablespoon vanilla extract</li>
  <li>1/4 cup all-purpose flour</li>
</ul>