<p>Recipe Details</p>
<p>Cheese Cake</p>
<ul>
    <li>15 graham crackers</li>
    <li>crushed2 tablespoons butter</li>
    <li>(8 ounce) packages cream cheese1</li>
    <li>2 cups white sugar</li>
    <li>3/4 cup milk</li>
    <li>4 eggs</li>
    <li>1 cup sour cream</li>
    <li>1 tablespoon vanilla extract</li>
    <li>1/4 cup all-purpose flour</li>
</ul>
